.bookings-page {
    padding: 30px;
}

.top-bar {
    margin-bottom: 20px;
}

.filters {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #eee;
}

th {
    background: #111827;
    color: white;
}