<div class="forgot-container">

  <div class="overlay"></div>

  <div class="forgot-card">

    <div class="logo-section">
      <h1>TrekOne</h1>
      <p>Forgot your password?</p>
      <span>
        Enter your registered email and we'll send you a secure reset link.
      </span>
    </div>

    <form (ngSubmit)="submit()">

      <div class="input-group">
        <label>Email Address</label>
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          placeholder="Enter your email"
          required>
      </div>

      <button type="submit">Send Reset Link</button>

    </form>

    <div class="footer-text">
      <a routerLink="/login">Back to Login</a>
    </div>

  </div>
</div>